<a href="https://colab.research.google.com/github/itzchirag00/cognitive-Computing-assignments/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Create a List L that is defined as= [10, 20, 30, 40, 50, 60, 70, 80]. i. WAP to add 200 and 300 to L. ii. WAP to remove 10 and 30 from L. iii. WAP to sort L in ascending order. iv. WAP to sort L in descending order.

In [1]:
L = [10, 20, 30, 40, 50, 60, 70, 80]
L.append(200)
L.append(300)
print(L)
L.remove(10)
L.remove(30)
print(L)
L.sort()
print(L)
L.sort(reverse = True)
print(L)

[10, 20, 30, 40, 50, 60, 70, 80, 200, 300]
[20, 40, 50, 60, 70, 80, 200, 300]
[20, 40, 50, 60, 70, 80, 200, 300]
[300, 200, 80, 70, 60, 50, 40, 20]

2. Create a tuple of marks scored as scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45) and perform the following operations using tuple functions: i. Identify the highest score and its index in the tuple. ii. Find the lowest score and count how many times it appears. iii. Reverse the tuple and return it as a list. iv. Check if a specific score ‚Äò76‚Äô (input by the user) is present in the tuple and print its first occurrence index, or a message saying it‚Äôs not present.

In [3]:
scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45)
print("Maximum Score: ",max(scores))
print("Index of Maximum Score: ",scores.index(max(scores)))

print("Minimum Score: ",min(scores))
count = 0
for i in scores:
  if(i == min(scores)):
    count += 1
print("Occurence of Minimum Score is :",count)

L = list(reversed(scores))
print("Reverse : ",L)
n = int(input("Enter : "))
try:
  print("76 is at index ",scores.index(76))
except ValueError:
  print("76 is not present")

Maximum Score:  92
Index of Maximum Score:  5
Minimum Score:  45
Occurence of Minimum Score is : 2
Reverse :  [45, 58, 92, 89, 45.4, 76, 89.5, 45]
Enter : 76
76 is at index  2

3. WAP to create a list of 100 random numbers between 100 and 900. Count and print the: i. All odd numbers ii. All even numbers iii. All prime numbers

In [4]:
import random
A = []
for i in range(100):
  A.append(random.randint(100,900))
print("Printing Prime Numbers")
for i in A:
  flag=True
  for j in range(2,i):
    if(i%j==0):
        flag=False
        break
  if(flag):
    print(i,end = " ")
print("\nPrinting Even Numbers")
for i in A:
  if(i%2==0):
    print(i,end = " ")
print("\nPrinting Odd Numbers")
for i in A:
  if(i%2!=0):
    print(i,end = " ")

Printing Prime Numbers
157 421 617 509 109 521 349 139 661 431 359 509
Printing Even Numbers
604 468 110 444 102 152 452 476 530 374 226 140 540 536 400 426 540 708 462 390 122 184 620 414 266 608 468 690 674 700 600 158 194 804 410 678 604 196 742 416 262 378 554 732 822 326 788 522 652 188 360 496 112 288
Printing Odd Numbers
157 703 471 605 567 175 681 421 553 663 361 217 531 617 509 109 671 869 183 717 445 521 349 517 875 139 333 195 661 553 407 707 507 453 731 561 431 657 785 525 359 835 125 509 625 319

4. Consider the following two sets, A and B, representing scores of two teams in mul∆üple matches. A = {34, 56, 78, 90} and B = {78, 45, 90, 23} WAP to perform the following operations using set functions: i. Find the unique scores achieved by both teams (union of sets). ii. Iden∆üfy the scores that are common to both teams (intersec∆üon of sets). iii. Find the scores that are exclusive to each team (symmetric difference). iv. Check if the scores of team A are a subset of team B, and if team B's scores are a superset of team A. v. Remove a specific score ùëã (input by the user) from set A if it exists. If not, print a message saying it is not present.

In [6]:
A = {34, 56, 78, 90}
B = {78, 45, 90, 23}

uni = A | B
print("Unique scores:", uni)

com = A & B
print("Common scores:", com)

exc = A ^ B
print("Exclusive scores:", exc)

sub = A.issubset(B)
print("A a subset of B?", sub)

sup = B.issuperset(A)
print("B a superset of A?",sup)

X = int(input("Enter the score to remove from A: "))
if X in A:
    A.remove(X)
    print("Set after removal:", A)
else:
    print("Score ",X," is not present in set A.")

Unique scores: {34, 45, 78, 23, 56, 90}
Common scores: {90, 78}
Exclusive scores: {34, 45, 23, 56}
A a subset of B? False
B a superset of A? False
Enter the score to remove from A: 74
Score  74  is not present in set A.

5. Write a program to rename a key city to a location in the following dictionary

In [7]:
dict = {"name": "chirag", "age": 20, "salary": 86000, "city": "gurgaon"}
a = dict.pop("city")
dict["location"] = a
print(dict)

{'name': 'chirag', 'age': 20, 'salary': 86000, 'location': 'gurgaon'}