In [1]:
import pandas as pd

dataset={
    'Tid':[1,2,3,4,5,6,7,8,9,10],
    'Refund':['Yes','No','No','Yes','No','No','Yes','No','No','No'],
    'Marital_Status':['Single','Married','Single','Married','Divorced','Married','Divorced','Single','Married','Single'],
    'Taxable_Income':['125K','100K','70K','120K','96K','60K','220K','85K','75K','90K'],
    'Cheat':['No','No','No','No','Yes','No','No','Yes','No','Yes']
}

#Q1
df=pd.DataFrame(dataset)
print(df)

   Tid Refund Marital_Status Taxable_Income Cheat
0    1    Yes         Single           125K    No
1    2     No        Married           100K    No
2    3     No         Single            70K    No
3    4    Yes        Married           120K    No
4    5     No       Divorced            96K   Yes
5    6     No        Married            60K    No
6    7    Yes       Divorced           220K    No
7    8     No         Single            85K   Yes
8    9     No        Married            75K    No
9   10     No         Single            90K   Yes

In [2]:
#Q2
print(df.loc[0],df.loc[4],df.loc[7],df.loc[8])

Tid                    1
Refund               Yes
Marital_Status    Single
Taxable_Income      125K
Cheat                 No
Name: 0, dtype: object Tid                      5
Refund                  No
Marital_Status    Divorced
Taxable_Income         96K
Cheat                  Yes
Name: 4, dtype: object Tid                    8
Refund                No
Marital_Status    Single
Taxable_Income       85K
Cheat                Yes
Name: 7, dtype: object Tid                     9
Refund                 No
Marital_Status    Married
Taxable_Income        75K
Cheat                  No
Name: 8, dtype: object

In [3]:
#Q3
print(df.loc[3:7])
print(df.iloc[4:9,2:5])
print(df.iloc[:,1:4])

   Tid Refund Marital_Status Taxable_Income Cheat
3    4    Yes        Married           120K    No
4    5     No       Divorced            96K   Yes
5    6     No        Married            60K    No
6    7    Yes       Divorced           220K    No
7    8     No         Single            85K   Yes
  Marital_Status Taxable_Income Cheat
4       Divorced            96K   Yes
5        Married            60K    No
6       Divorced           220K    No
7         Single            85K   Yes
8        Married            75K    No
  Refund Marital_Status Taxable_Income
0    Yes         Single           125K
1     No        Married           100K
2     No         Single            70K
3    Yes        Married           120K
4     No       Divorced            96K
5     No        Married            60K
6    Yes       Divorced           220K
7     No         Single            85K
8     No        Married            75K
9     No         Single            90K

In [ ]:
#Q4
data_frame=pd.read_csv('Iris.csv')

In [ ]:
#Q5, delete row 4 and delete column 3

data_frame.drop(4,axis=0,inplace=True)
data_frame.drop(data_frame.columns[3],axis=1,inplace=True)

print(data_frame)

In [ ]:
#q6
import pandas as pd

data_frame=pd.read_csv("employees.csv")
print(data_frame)

#Printing the shape of the dataset that is the number of rows and columns
print("Shape: ",data_frame.shape)

#Summary of the dataset that is the datatypes and non null indicators

print("Info: ",data_frame.info())

#Generating Descriptive Statistics

print("Description: ",data_frame.describe())

print(data_frame.iloc[:6],data_frame.iloc[-3:])

#Average Salary of the employees

print(data_frame['Salary'].mean())

#Total bonus paid to all the employees

print(data_frame['Bonus'].sum())

#Min of the employees Age

print(data_frame['Age'].min())

#Max of the rating

print(data_frame['Rating'].max())

#Sorting the dataframe according to the salary in descending order

sorted_df=data_frame.sort_values(by="Salary",ascending=False)
print(sorted_df)

#Adding a performance column by rating

data_frame["Performance"]=pd.cut(
    data_frame["Rating"],
    bins=[0,4.0,4.5,5.0],
    labels=["Average","Good","Excellent"]

)

#Finding the missing values in the dataframe
print(data_frame.isnull().sum())
data_frame["Bonus"]=data_frame["Bonus"].fillna(0)

#Rename the Employee_ID to ID

#Store the values in a new column, then delete the Employee_ID column and insert the ID column
# Method 1
# data_frame["ID"]=data_frame["Employee_ID"]
# data_frame.drop('Employee_ID',axis=1,inplace=True)
# print(data_frame)

#Method 2
data_frame.rename(columns={"Employee_ID":"ID"},inplace=True)
print(data_frame)

#Finding all the employees who have more than 5 years of experience
print(data_frame[data_frame["Years_of_Experience"]>5])

#Finding all the employees who are in the IT Department
print(data_frame[data_frame["Department"]=='IT'])

#Add a new Column Tax, which deducts 10% of the salary

data_frame["Tax"]=data_frame["Salary"]*(0.1)
print(data_frame)

#Lets save the modified data_frame in a new CSV file

data_frame.to_csv("new_employees.csv")